{% extends 'backend/base.html' %}

{% block title %} Product List {% endblock %}

{% block content %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Products</h1>
    </div>


    <div class="card">
        <div class="card-header">
            <div class="form-row justify-content-between">
                <div class="col-md-2">
                    <input type="text" name="title" placeholder="Product Title" id="Ptitle" class="form-control">
                </div>
                <div class="col-md-2">
                    <select name="variant" id="" class="form-control" onchange="get_product_variants(this.value)">
                        <option selected disabled>--Select A Variant--</option>
                        {% for variant in variants %}
                            <option value="{{ variant.id }}">{{ variant.title }}</option>
                        {% endfor %}

                    </select>
                </div>

                <div class="col-md-2">
                    <select name="variant" id="productVariants" class="form-control">
                        

                    </select>
                </div>

                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Price Range</span>
                        </div>
                        <input type="text" name="price_from" aria-label="First name" id="starting_price" placeholder="From"
                               class="form-control">
                        <input type="text" name="price_to" aria-label="Last name" id="ending_price" placeholder="To" class="form-control">
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="date" name="date" placeholder="Date" class="form-control" id="time">
                </div>
                <div class="col-md-1">
                    <button onclick="onSearch()" type="submit" class="btn btn-primary float-right"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="table-response">
                <table class="table" id="dataTable">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Variant</th>
                        <th width="150px">Action</th>
                    </tr>
                    </thead>

                    <tbody id="product">
                    <tr>
                        <td>1</td>
                        <td>T-Shirt <br> Created at : 25-Aug-2020</td>
                        <td>Quality product in low cost</td>
                        <td>
                            <dl class="row mb-0" style="height: 80px; overflow: hidden" id="variant">
                                <dt class="col-sm-3 pb-0">
                                    XL/ Black/ Full
                                </dt>
                                <dd class="col-sm-9">
                                    <dl class="row mb-0">
                                        <dd class="col-sm-4 pb-0">Price : 200.0</dd>
                                        <dd class="col-sm-8 pb-0">InStock : 50.</dd>
                                    </dl>
                                </dd>
                                <dt class="col-sm-3 pb-0">
                                    XL/ Black/ Half
                                </dt>
                                <dd class="col-sm-9">
                                    <dl class="row mb-0">
                                        <dd class="col-sm-4 pb-0">Price : 200.0</dd>
                                        <dd class="col-sm-8 pb-0">InStock : 50.</dd>
                                    </dl>
                                </dd>
                                <dt class="col-sm-3 pb-0">
                                    L/ Black/ Full
                                </dt>
                                <dd class="col-sm-9">
                                    <dl class="row mb-0">
                                        <dd class="col-sm-4 pb-0">Price : 200.0</dd>
                                        <dd class="col-sm-8 pb-0">InStock : 50.</dd>
                                    </dl>
                                </dd>
                                <dt class="col-sm-3 pb-0">
                                    L/ Black/ Half
                                </dt>
                                <dd class="col-sm-9">
                                    <dl class="row mb-0">
                                        <dd class="col-sm-4 pb-0">Price : 200.0</dd>
                                        <dd class="col-sm-8 pb-0">InStock : 50.</dd>
                                    </dl>
                                </dd>
                            </dl>
                            <button onclick="$('#variant').toggleClass('h-auto')" class="btn btn-sm btn-link">Show more
                            </button>
                        </td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a href="" class="btn btn-success">Edit</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>

        </div>

        <div class="card-footer">
            <div class="row justify-content-between">
                <div class="col-md-6" id="pag-summary">
                    
                </div>
                <div class="col-md-2">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <!-- Pagination links will be generated here -->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{%block script %} 

<script>

function generatePagination(links) {
        const paginationUl = document.querySelector('.pagination');
        paginationUl.innerHTML = ''; // Clear existing pagination

        if (links.previous) {
            const previousLi = document.createElement('li');
            previousLi.classList.add('page-item');
            previousLi.innerHTML = `<a class="page-link" href="#" onclick="productList('${links.previous}')">Previous</a>`;
            paginationUl.appendChild(previousLi);
        }

        if (links.next) {
            const nextLi = document.createElement('li');
            nextLi.classList.add('page-item');
            nextLi.innerHTML = `<a class="page-link" href="#" onclick="productList('${links.next}')">Next</a>`;
            paginationUl.appendChild(nextLi);
        }
    }



function renderListHtml(data){
    const productDiv = document.getElementById('product');
            let html = ''; // Create a variable to store HTML content
            data.forEach(element => {
                html += `
                <tr>
                    <td>${element.id}</td>
                    <td>${element.title} <br> Created at : ${element.created_at}</td>
                    <td>${element.description}</td>
                    <td>
                        <dl class="row mb-0" style="height: 80px; overflow: hidden" id="variant${element.id}">
                `;
                element['product_variants_sales'].forEach(variant => {
                    const outputArray = [variant.variant_one_title, variant.variant_two_title, variant.variant_three_title].filter(Boolean);
                    const output = outputArray.join('/');

                    html += `
                        <dt class="col-sm-3 pb-0">
                            ${output}
                        </dt>
                        <dd class="col-sm-9">
                            <dl class="row mb-0">
                                <dd class="col-sm-4 pb-0">Price : ${variant.price}</dd>
                                <dd class="col-sm-8 pb-0">InStock : ${variant.stock}</dd>
                            </dl>
                        </dd>
                    `;
                });
                html += `
                        </dl>
                        <button onclick="$('#variant${element.id}').toggleClass('h-auto')" class="btn btn-sm btn-link">Show more</button>
                    </td>

                    <td>
                            <div class="btn-group btn-group-sm">
                                <a href="" class="btn btn-success">Edit</a>
                            </div>
                        </td>
                </tr>
                `;
            });
            // Append the HTML content to the productDiv
            productDiv.innerHTML = html;
}

function productList(url) {
    fetch(url)
        .then(response => response.json())
        .then(res => {
            const productList = res['data']
            renderListHtml(productList)
            document.getElementById('pag-summary').innerHTML = `
                <p>Showing 1 to ${res.current_data} out of ${res.count}</p>
            `

            generatePagination(res['links'])

        })
        .catch(error => console.log(error));
}


    productList('/product/api/list/');

function get_product_variants(id){
    fetch('/product/api/variant/list/?id='+id)
        .then(response => response.json())
        .then(data => {
            document.getElementById('productVariants').innerHTML = ""
            data.forEach(element => {
                document.getElementById('productVariants').innerHTML +=`
                <option value="${element.variant_title}">${element.variant_title}</option>

            `
            })
           
        })
}



function onSearch(){
    const title = document.getElementById('Ptitle').value
    let selectedvariant = document.getElementById('productVariants')
    let selectOption = selectedvariant.options[selectedvariant.selectedIndex]
    let variant = null
    if (selectOption){
        variant = selectOption.value
    }
    let starting_price = document.getElementById('starting_price').value
    let ending_price = document.getElementById('ending_price').value
    let time = document.getElementById('time').value

    fetch('/product/api/search/?title='+title+'&variant='+variant+'&starting_price='+starting_price+'&ending_price='+ending_price+'&time='+time)
        .then(response => response.json())
        .then(res => {
            const productList = res['data']
            renderListHtml(productList)
            document.getElementById('pag-summary').innerHTML = `
                <p>Showing 1 to ${res.current_data} out of ${res.count}</p>
            `

            // generatePagination(res['links'])


        })
        .catch(error => console.log(error));
}

</script>

{% endblock %}

